<ion-header>
  <ion-toolbar>
    <ion-title>Catedral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-content fullscreen>
      <a id="back" href="../../home/">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-chip color="primary">
        Volver
        </ion-chip>
      </a>
      <a id="next" href="../alambra/">
        <ion-chip color="primary">
        Alhambra
        </ion-chip>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </a>
      <ion-card>
        <img src="../../../assets/imagen/catedral.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Lugar de descanso de los Reyes Católicos</ion-card-subtitle>
          <ion-card-title>Catedral</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Es un templo católico de la ciudad española de Granada, sede de la 
          archidiócesis de la ciudad. El templo es una de las obras cumbres 
          del Renacimiento español. Está dedicada al misterio de la Encarnación 
          del Señor.  
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
