<ion-header>
  <ion-toolbar>
    <ion-title>Alhambra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-content fullscreen>
      <a href="../../home/">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-chip color="primary">
        Volver
        </ion-chip>
      </a>
      <a id="next" href="../catedral/">
        <ion-chip color="primary">
        Catedral
        </ion-chip>
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </a>
      <ion-card>
        <img src="../../../assets/imagen/alhambra.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Belleza infinita</ion-card-subtitle>
          <ion-card-title>Alhambra</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          La Alhambra es un complejo monumental sobre una ciudad palatina andalusí 
          situado en Granada, España. Consiste en un conjunto de antiguos palacios, 
          jardines y fortaleza   
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

</ion-content>
