<ion-header>
  <ion-toolbar>
    <ion-title>Paseo de los Tristes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-content fullscreen>
      <a id="back" href="../../home/">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-chip color="primary">
        Volver
        </ion-chip>
      </a>
      <ion-card>
        <img src="../../../assets/imagen/triste.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Lugar Mágico para caminar</ion-card-subtitle>
          <ion-card-title>Paseo de los Tristes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          El Paseo de los Tristes o Carrera del Darro es descrito por muchos como 
          una de las calles más bellas del mundo. Una calle empedrada paralela al 
          Río Darro (Río que da oro) hace 500 años, ya que está prácticamente igual, 
          como paralizada en un momento mágico en el tiempo. Aunque mucha gente vincula 
          su poético nombre con la melancolía del paisaje, con el rio corriendo a sus 
          pies, y la majestuosa Alhambra como fondo, su nombre es debido a que por 
          ella pasaban los cortejos fúnebres que se encaminaban al camposanto que había 
          junto a la Alhambra, en la zona más elevada de la Sabika, la colina sobre la 
          que reposa la Alhambra.  
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
