<ion-header>
  <ion-toolbar>
    <ion-title>Estación de Tren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-content fullscreen>
      <a id="back" href="../../home/">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-chip color="primary">
        Volver
        </ion-chip>
      </a>
      <ion-card>
        <img src="../../../assets/imagen/tren.jpg" />
        <ion-card-header>
          <ion-card-subtitle>El AVE llega a Granada</ion-card-subtitle>
          <ion-card-title>Estación de Trenes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          La Estación de tren y AVE de Granada, conocida también como estación de 
          tren andaluces, es la estación ferroviaria que brinda servicio a la ciudad
          española de Granada. Hasta hace poco tiempo solo tenía servicio de trenes 
          convencionales, pero desde junio del año 2019, da servicios de líneas AVE, 
          como el AVE Madrid Granada  
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
